				<br><br>
				<h1>Summary</h1>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @grades.each do |b| %>
		<tr>
			<td><%= b.grade %></td>
			<td>
				<%= link_to "Show", grade_path(b.id) %>
				<%= link_to "Delete", grade_path(b.id), :method => :delete %>
				<%= link_to "Edit", edit_grade_path(b.id) %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>